<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.iff.pooa20162.ajude">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Necessários para configuração do SUGAR ORM -->
        <meta-data
            android:name="DATABASE"
            android:value="ajude.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="br.edu.iff.pooa20162.ajude" />

        <receiver android:name=".services.autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.service"
            android:enabled="true" />

        <receiver android:name=".services.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.MensagemActivity" />
        <activity android:name=".activity.ContatoActivity" />
        <activity android:name=".activity.MedicamentoActivity" />
        <activity android:name=".activity.ExameActivity" />
        <activity android:name=".activity.PacienteActivity" />
        <activity android:name=".activity.MedicamentoCadastroActivity" />
        <activity android:name=".activity.OpcoesActivity" />
        <activity android:name=".activity.PacienteAjudaActivity" />
        <activity android:name=".activity.ExameCadastroActivity" />
        <activity
            android:name=".activity.AberturaActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>